body{
    border: 6px;
    border-radius: 3px;
}

header nav{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
header nav section .sspr a{
    margin-top: 35px;
    margin-left: 20px;
    color: darkgrey;
    text-decoration: none;
    
}
header nav .sspr .msspr {
    color: rgb(235, 182, 139);
    border-bottom: 2px solid rgb(235, 182, 139);
    margin-top: 35px;
    margin-left: 20px;

}
header nav i{
    margin-top: 35px;
}
section img{
    width: 1300px; 
    
}
.Hasina{
    margin-top: 50px;
}

.Hasina{

    height: 500px;
    width: 600px;
    margin: 0 auto;
}
.Hasina h1{
    color: #1f3684;
    text-align: center;
}

.Hasina .text{
    text-align: center;
}

footer{
    margin-top:200px ;
    background-color: #1f3684;
    padding-top: 70px;
}

footer .liens{
    display: flex;
    flex-wrap:nowrap;
    justify-content:space-around;

}

footer a{
    color:#b2c1e1;
    text-decoration: none;

}

footer .liens p{
    margin-left: 60px;
}

footer .liens .AGI h2 a{
    color: #9b8e7d;
}
footer h2{
    text-align: center;
    color: #ffebff;
}

footer .liens .contact i{
    color: #b2c1e1;
}
footer .liens .AGI{
    height: 200px;
    width: 400px;
    border-right: 1px solid #b2c1e1 ;
}

footer .liens .Liens_utiles{
    height: 200px;
    width: 400px;
    border-right: 1px solid #b2c1e1 ;
}

footer .liens .contact{
    height: 200px;
    width: 400px;
    border-right: 1px solid #b2c1e1 ;
    color: #b2c1e1;
}

footer .liens .logo{
    height: 200px;
    width: 400px;
    border-right: 1px  ;
}

footer .liens .logo p{
    display: inline;
    font-size: 50px;
    color: white;
}
footer .dernier{
    margin-top: 20px;
    text-align: center;
    border-top: #b2c1e1 1px solid;
    padding-bottom: 4px;
    padding-left: 20px;
    color: #b2c1e1;
}

.site{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.site .h img{
    height: 600px;
    width: 600px;
}

.site .Text{
    height: 450px;
    width: 500px;
    text-align: center;
    margin: 0 30px;
}

.site .Text h3{
    color: #1b3780;
}

.site .Text h4{
    color: #1b3780;
}

.site .Text h2{
    color: #1b3780;
    font-size: 20px;
    border-top: #1b3780 dashed;
    padding-top: 20px;
}

.site .Ptext{
    color: #625a61;
}

.site .boutton button{
    border-radius: 60px;
    background-color: #362c36;
    font-size:15px;
    cursor: pointer;
    margin-top: 15px;
    padding: 10px;
}

.site .boutton a{
    color: #a2b4b6;
    text-decoration:none ;
    font-size: 15px;

}